@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222831;
}
.wrap {
  max-width: 1400px;
  min-width: 280px;
  margin-inline: auto;
  background-color: #31363f;
  opacity: 0.9;
  padding: 80px;
  gap: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1rem;
  }
  .wrap {
    padding: 15px;
    width: 100%;
  }
}
